:root {
    --color: #6125f9;
    --back-color: #fafafa;
    --walls: #1a0d4d;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Cairo", sans-serif;
    user-select: none;
    color: var(--color, #c39a3b);
    background-color: var(--back-color, #212121);
  }
  
  body {
    height: 100vh;
  }
  
  .toggle {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 20px;
    border-radius: 20px;
  }
  
  .toggle input {
    display: none;
  }
  
  .toggle label {
    display: inline-block;
    width: 40px;
    height: 20px;
    border-radius: 20px;
    background-color: var(--color, #c39a3b);
    position: relative;
    cursor: pointer;
  }
  
  .toggle label::after {
    display: inline-block;
    position: absolute;
    content: "";
    background-color: var(--back-color, #212121);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 2px;
    right: 3px;
    transition: 0.2s right linear;
  }
  
  .toggle input:checked + label::after {
    right: calc(100% - 18px);
  }
  
  header {
    padding: 10px;
    text-align: center;
  }
  
  header > a {
    font-size: 35px;
    text-decoration: none;
  }
  
  .algos {
    padding: 0 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .algos > aside > .control > label {
    width: 60px;
    display: inline-block;
  }
  
  .algos > aside > .control {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .algos > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .algos > div > span {
    font-size: 20px;
    margin: 0 5px;
    width: 140px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
  }
  
  .algos > div > span:hover {
    background-color: var(--color);
    color: var(--back-color);
    transition: 0.2s;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
  }

  .grid {
    margin-right: -30px;
  }

    .wrapper > .grid > div {
        display: flex;
        justify-content: center;
        align-items: center;
        /* width: 100%; */
    }

    .wrapper > .grid > div > span {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color, #c39a3b);
        margin: 1px;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        font-size: 50px;
        /* border: 2px solid transparent; */
        position: relative;
    }
  
  .disabled, .disabled:hover {
    color: var(--color) !important;
    background: var(--back-color) !important;
    cursor: auto;
  }
  
  .active, .active:hover {
    color: var(--back-color);
    background: var(--color);
    cursor: pointer;
  }

    .horizontalBar::after {
        position: absolute;
        z-index: 10;
        content: "";
        width: 55px;
        background: var(--walls, #1a0d4d);
        height: 15px;
        border-radius: 20px;
        top: -9px;
        left: -5px;
        margin-left: -6px;
        margin-right: -12px;
    }
    .verticalBar::before {
        position: absolute;
        z-index: 10;
        content: "";
        width: 15px;
        background: var(--walls, #1a0d4d);
        height: 55px;
        border-radius: 20px;
        top: -9px;
        left: -11px;
        /* margin-left: -6px;
        margin-right: -12px; */
    }
    .removeVerticalBar::before {
      content: none;
    }
    .removeHorizontalBar::after {
      content: none;
    }
    .hide {
        background-color: transparent !important;
    }


    .visited {
      /* background: linear-gradient(241deg, rgb(73 199 136) 0.1px, #25f9d2 0px, rgb(235 124 113) 0.5px, #68d516) !important; */
      background: linear-gradient(241deg, rgb(73 199 77) 0.1px, #8af925 0px, rgb(73 199 106) 0.5px, #16d5bb) !important;
      /* background: linear-gradient(241deg, rgb(73 199 136) 0.1px, #0f0cbd 0px, rgb(113 235 184) 0.5px, #d5b516) !important; */
    }
    .path {
      /* background: linear-gradient(241deg, rgb(73 199 136) 0.1px, #25f9d2 0px, rgb(235 124 113) 0.5px, #68d516) !important; */
      background: linear-gradient(241deg, rgb(73 199 136) 0.1px, #25f9d2 0px, rgb(235 214 113 / 42%) 0.5px, #fff707) !important;;
      /* background: yellow !important; */
    }
    img {
      background: transparent;
      width: 30px;
    }